# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.pages.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Projects\uikit-ecommerce-template-master\src\templates\pages\.idea\.idea.pages.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
